<% provide(:title, "About") %>
<div class="jumbotron">
  <div class="thumbnail">
  	<%= image_tag("about-us.jpg", :alt => "about-us image") %>
  </div>
</div>
<div class="container">
	Maitco is the company that provide IT services to local or company or any organisation<br/> We are located at Ubungo, Dar es salaam opposite to Oilcom petrol station
</div>

