<% provide(:title, "Contacts") %>
<div class="center jumbotron">
   <div class="thumbnail">
     <%= image_tag("contacts.jpg", :alt => "contacts images") %>
   </div>
</div>
<div class="container">
	<h3>Contact us through</h3>
	<ul>
		<li>Call/SMS/Whatsapp: <em>0789291159</em></li>
		<li>Email: <em>malaikakimomwe@gmail.com</em></li>
		<li>Facebook: <em><a href="facebook.com/maitco">Like us</a></em></li>
	</ul>
</div>

