<div class="jumbotron">

<!--Slider goes here                       -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag("it-services-list.png", :alt => "It it-services-list") %>
        <div class="carousel-caption">
          <p>Services provided</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("contacts.jpg", :alt => "contacts") %>
        <div class="carousel-caption">
          <p>Contacts us.</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag("about-us.jpg", :alt => "About us image") %>
        <div class="carousel-caption">
          <p>About us.</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="row">
	<div class="col">
		Maitco company provide IT services for individual and companies. We also provide consultation about IT in general. 
	</div>
	<div class="col-sm-4">
		<h2>Mission</h2>
		<p>Our mission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj</p>
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#mission"><i>read more...</i></button>
		  <div id="mission" class="collapse">
		  	Our  mission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		  </div>
	</div>
	<div class="col-sm-4">
		<h2>Vission</h2>
		<p>Our vission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj</p>
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#vission"><i>read more...</i></button>
		  <div id="vission" class="collapse">
		  	Our  vission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		  </div>
	</div>
	<div class="col-sm-4">
		<h2>Objectives</h2>
		<p>Our objective is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj</p>
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#objective"><i>read more...</i></button>
		  <div id="objective" class="collapse">
		  	Our  mission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		  </div>
	</div>

</div>
