<%= provide(:title, "Services") %>
<div class="center jumbotron">
   <%= image_tag("it-services-list.png", :alt => "it-service-list") %>
</div>
<div id="container">
  <h3>We provide the following services</h3>
    <ul>
    	<li>Website development</li>
    	<li>Software development</li>
    	<li>Pc mantainance</li>
    	<li>Blog design and development</li>
    </ul>
</div>