<footer class="footer">
  <small>
  copyright © 2015 | Maitco company. All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "Developer", '#' %></li>
      <li><a href="http://maitco.blogspot.com/">Blog</a></li>
    </ul>
  </nav>
</footer>
