<header class="navbar navbar-fixed-top navbar-inverse navbar-custom">
	  	<div class="container">
	  	  <%= link_to "MaitCO", root_path, id: "logo" %>
	  	  <nav>
	  	    <ul class="nav navbar-nav navbar-right">
	  	      <li><%= link_to "Home", 		root_path %></li>
	  	      <li><%= link_to "Services",   service_path %></li>
	  	      <li><%= link_to "Contacts", 	contacts_path %></li>
	  	      <li><%= link_to "About", 		about_path %></li>
	  	    </ul>
	  	  </nav>
	   	</div>
	  </header>